# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Environments
.venv
venv/

# Папки, создаваемые средой разработки
.vscode/
.vscode-old/
*.code-workspace

# Local History for Visual Studio Code
.history/
.mypy_cache
